body {
    background-color: white;
    margin: 0;
    font-family: 'Pacifico',
        cursive;

}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    background-color: steelblue;
    color: black;
    text-align: center;
    padding-top: auto;
    margin: 0;
    height: 80px;
}

#stripe {
    background: white;
    text-align: center;
    height: 40px;
    color: black;
    font-size: medium;
}

#resetButton {
    height: 40px;
    font-family: 'Pacifico',
        cursive;
}